.button {
  display: inline-block;
  padding: 4px 10px;
  color: black;
  border: 2px solid black;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 16px;
  outline: none;
  background: #fff;

  &:hover {
    cursor: pointer;
  }
}